@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.wordInput {
    display: flex;
    justify-content: center;
}

.buttonDiv {
    display: flex;
    justify-content: center;
}

/* .inputWord {
    font-size: 5rem;
} */

.ui.form input[type=text] {
    font-size: 4.5rem;
    font-family: 'Oswald', sans-serif;
}

.ui.grid.container {
    margin-top: 2%;
    margin-bottom: 2%
}

